<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    {% if request.user.is_authenticated %}
        <h1 class="text-danger mb-3">{{ request.user.email }}</h1>
    {% endif %}
    <h1>edit profile information and password</h1>
    <form method="post" novalidate>
        {% csrf_token %}
{#        <input type="text" name="email" placeholder="email">#}
{#        <input type="text" name="username" placeholder="username">#}
{#        <input type="number" name="phone_number" placeholder="Phone number">#}
{#        <h3>do not enter anything in password field if you dont wanna change it !</h3>#}
{#        <input type="password" name="password" placeholder="password">#}
        {{ form.as_p }}
        <button type="submit">Change</button>
    </form>
</body>
</html>